{
    "TestEntrypoint" : {
        "HY_OVERRIDE_CREDENTIALS" : "yes",
        "HY_ACCESS_KEY_ID" : "-",
        "HY_SECRET_ACCESS_KEY" : "-"
    },
    "TypeFunction" : {
        "HY_OVERRIDE_CREDENTIALS" : "yes",
        "HY_ACCESS_KEY_ID" : "-",
        "HY_SECRET_ACCESS_KEY" : "-"
    }

}